# Matlab Automatic Save
*.asv
*.m~
*.fig

# Matlab Compile
*.mex*
*.o
*.obj
*.so
*.dll
*.lib
*.exp
*.pdb



# Python
__pycache__/
*.py[cod]
*.ipynb_checkpoints



# Requirements Folders
graphviz-2.38/*
!graphviz-2.38/README.md

HSI2RGB-master/*
!HSI2RGB-master/README.md

matconvnet-1.0-beta25_gpu -10.0/*
!matconvnet-1.0-beta25_gpu -10.0/README.md

toolbox-master/*
!toolbox-master/README.md



# VSCode
.vscode/



# OS
.DS_Store
Thumbs.db



# Environment File
.git
*.git



# Git LFS
.gitattributes
